# coverage
*.gcno
*.gcda

# compiled
*.o
*.a
*.out

# clang
.cache/clangd
.clang-format
.clangd
.clang-tidy
compile_commands.json

# junk
*.cheh
vgcore*
*.log
.bash_history
.DS_Store
.cache
.vscode
.idea
.clang-format
.clangd
.clang-tidy

# project bin
my_rpg